*.py[oc]
*.so
*.pyd
.DS_Store

build
./dist
dist
.cache/
./*.egg-info

*.c

# pyx files for which there are template files
_kim_smoother.pyx
_hamilton_filter.pyx

.git

# Coverage report output
.coverage
coverage_html_report/
y_arma_data.csv
prof/
.pytest_cache
