global-include *.csv *.py *.txt *.pyx *.pyx.in *.pxd *.pxi *.c *.h
include MANIFEST.in
include README.rst

recursive-exclude build *
recursive-exclude dist *
recursive-exclude tools *

prune */__pycache__

global-exclude *~ *.swp  *.pyc *.pyo *.bak
include versioneer.py
include sm2/_version.py
